div.footer.container-fluid
  a(href='/feedback') 反馈
  |&nbsp;/&nbsp;
  a(href='https://github.com/maxbbn/rating-app') 源码

script
  seajs.use("/js/modules/bootstrap/bootstrap-dropdown")
  seajs.use("/js/modules/bootstrap/bootstrap-collapse")
