@import "app.less";
@import "mods/share-show.less";
@import "mods/base.less";

.textarea-container {
    .form-actions {
        margin:0 0 10px 0;
        text-align:right;
    }
    float:right;
}

#textarea {
    position:relative;
    width:720px;
    height:480px;
}
