script#template-hotest(type='text/template').
  <div class='ratelist'>
    {{#list}}
    <div class='shareitem'>
      <a href='/share/{{_id}}' class='link' style='background-image:url({{cover}})'>
        <div class="wrap">
          <h3 class="title"> {{title}} </h3>
          <div class="desc">{{desc}}</div>
          <div class="act">
            <span class="author">{{authors}}</span>
            <span title="热度"><b class="icon-fire"></b>{{viewCount}}</span>
          </div>
        </div>
      </a>
    </div>
    {{/list}}
  </div>
script#template-latest(type='text/template').
  <div id="J_accordion" class='ratelist'>
    {{#list}}
      <div class="recentShares-tab-head ks-switchable-trigger">
        <div style="float:left">
        【{{position}}】<a href="/shareset/{{postname}}" style="color:#666">{{name}}</a> / <span style="color:#6698cb;">{{subject}}</span>
        </div>
        <div style="float:right;color:#000;">{{date}}</div>
        <div style="clear:both"></div>
      </div>
      <div class="recentShares-tab-body ks-switchable-panel" style="display:none;">
        <ul>
          {{#shares}}
            <li><a href="/share/{{_id}}">{{authors}} : {{title}}</a></li>
          {{/shares}}
        </ul>
      </div>
    {{/list}}
  </div>
.row-fluid.hide
  .span10
  img(src='http://img02.taobaocdn.com/tps/i2/T16_GNXe4cXXXXXXXX-940-160.jpg')
.row-fluid
  .span9
    div.box
      .hd
        h3 近期分享会
      .bd
        #Latest
    div.box
      .hd
        h3 热门分享
      .bd
        #Hotest
  .span3
    div.box
      .hd 常用
      .bd
        a.btn-large.btn-primary(href='/shareset/new') 创建分享会
        br
        br
        a.btn-large.btn-primary(href='/share/new') 我要分享
    div.box
      .hd
        h3 分享平台希望能帮你
      .bd
        ul
          li 组织分享
          li 记录分享
          li 反馈与交流
    .box
      .hd
        h3  常用链接
      .bd
        ul.links
          li
            a(href='https://is.taobao.org/meeting/')  会议室预定
    != partial('partial/side-tags')
script
  seajs.use('/js/latest.js')

