script#template-hotest(type='text/template').
  <div class='ratelist'>
    {{#list}}
    <div class='shareitem'>
      <a href='/share/{{_id}}' class='link' style='background-image:url({{cover}})'>
        <div class="wrap">
          <h3 class="title"> {{title}} </h3>
          <div class="desc">{{desc}}</div>
          <div class="act">
            <span class="author">{{authors}}</span>
            <span title="热度"><b class="icon-fire"></b>{{viewCount}}</span>
          </div>
        </div>
      </a>
    </div>
    {{/list}}
  </div>
script#template-latest(type='text/template').
  <div  class="accordion" id="J_accordion">
    {{#list}}
      <div  class='accordion-group'>
        <div class='accordion-heading'  data-parent='#J_accordion' data-toggle='collapse' data-target='#shares-{{_id}}'>
          <div class="accordion-toggle">
            <span style='float:right; color:#000;'>{{date}}</span>
            <a href='/shareset/{{postname}}'>
              【{{position}}】 {{name}} / {{subject}}
            </a>
          </div>
        </div>
        <div class="accordion-body collapse {{_class}}" id='shares-{{_id}}'>
          <div class="accordion-inner">
            <ul>
              {{#shares}}
                <li><a class='#' href="/share/{{_id}}">{{authors}} : {{title}}</a></li>
              {{/shares}}
              {{^shares}}
                <li>分享会里面还没有添加分享</li>
              {{/shares}}
            </ul>
          </div>
        </div>
      </div>
    {{/list}}
    {{^list}}
      近期没有分享会
    {{/list}}
  </div>
.row-fluid
  .span9
    div.box.mg-bottom60
      .hd
        h3 近期分享会
      .bd
        #Latest.latest
    div.box
      .hd
        h3 热门分享
      .bd
        #Hotest
  .span3
    div.box
      .hd 常用
      .bd
        a.btn.btn-primary(href='/shareset/new') 创建分享会
        &nbsp;
        a.btn.btn-primary(href='/share/new') 我要分享
    div.box
      .hd
        h3 分享平台希望能帮你
      .bd
        ul
          li 组织分享
          li 记录分享
          li 反馈与交流
    .box
      .hd
        h3  常用链接
      .bd
        ul.links
          li
            a(href='https://is.taobao.org/meeting/')  会议室预定
    != partial('partial/side-tags')
script
  seajs.use('/js/latest.js')

