.meta-box {
    padding:0 10px;
    background:#DDD;
    color:#999;
    margin-bottom:1px;
}


.edit-content {
    float:right;
}
.content-bd {
    max-width:600px;
    padding-left:20px;
    font-size:14px;
    h1, h2, h3, h4, h5 {
    }

    h1 {
        font-size:20px;
        font-weight:bold;
        margin:20px 0 15px 0;
    }

    h2 {

        color:@red;
        font-size:18px;
        font-weight:normal;
        line-height:1.5;
        margin:20px 0 15px 0;
    }
    h3 {
        font-size:14px;
        //margin:20px 0 16px 0;
    }
}
